body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 72px;
}

.sketch-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.config-area-1, .config-area-2 {
    flex: 1;
}

/* Toggle */
.toggle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 300;
}

#spacebar-txt {
    color: #e63946;
}

.toggle-ctr {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #e63946;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #e63946;
    transition: .3s;
}

.toggle-text {
    font-size: 12px;
    margin-top: -6px;
    color: #e63946;
}

.active {
    border-color: rgb(85, 227, 180);
}

.active + .toggle-text {
    color: rgb(85, 227, 180);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(85, 227, 180);
}

.toggle-header:has(+ .active) #spacebar-txt {
    color: rgb(85, 227, 180);
    transition: all .3s;
}


/* Config-1 -> } */
.config-area-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Color Pickers Container */
.color-ctr {
    width: 200px;
    padding: 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

/* Pen color */
.pen-color-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

/* Background color */
.bg-color-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

/* Eraser Button */
.eraserActive {
    background-color: aquamarine;
}

/* .Config-2 -> Grid size + reset */

.config-area-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid-size-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.reset-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Grid */
.grid-area {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.grid {
    display: flex;
    border: 3px solid #e63946;
    transition: 0.3s;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.active-grid {
    border-color: rgb(85, 227, 180);
    border-width: 3px;
    transition: all .3s;
}


/* Footer */
.footer {
    background-color: #dee2e6;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a {
    opacity: 0.5;
}

.github-a:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
}